.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-md);
  font-size: 16px;
  color: var(--text);
  transition: var(--transition);
  cursor: pointer;
}

.root:hover {
  background: var(--bg-subtle);
}

.iconDark {
  display: inline-block;
  color: var(--accent);
}

.iconLight {
  display: none;
  color: var(--accent);
}

[data-theme='dark'] .iconDark {
  display: none;
}

[data-theme='dark'] .iconLight {
  display: inline-block;
}
